* {
   box-sizing: border-box;
}

body {
    background-color: #fdf6ec; 
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    background-color: #1e3a5f; 
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 12px 20px;
    position: relative;
}

h1 {
    color: #1e3a5f; 
    text-align: center;
    margin: 20px 0;
}

.navbar a {
    color: #fdf6ec; 
    text-decoration: none;
    padding: 8px 15px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 6px;
    /* transition: all 0.3s ease; */
}

.navbar a:hover {
    color: #1e3a5f; 
    background-color: #f4c542;
    transform: scale(1.05);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.slider {
  width: 600px;
  height: 600px;
  overflow: hidden;
  margin: 20px auto;
  border-radius: 89px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.slides {
  display: flex;
  width: 300%; 
  animation: slide 9s infinite;
}

.slides img {
  width: 100%;
}

@keyframes slide {
  0%   { transform: translateX(0); }
  33%  { transform: translateX(-100%); }
  66%  { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}