* {
    box-sizing: border-box;
    color: #FFFFFF;
    background-color: #0b3626;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

.navbar {
    position: relative;
    width: 100%;
    height: 99px;
    margin-bottom: 10px;
    padding: 12px;
    background-color: #082319;
    border-bottom: 1px solid #c8c5be;
    border-top: 1px solid #c8c5be;
    box-shadow:0 5px 24px #c8c5be59;
}
.navbar h2 {
    height: 40px;
    margin-top: 30px;
    background-color: transparent;
}

.mood-select {
  margin-top: 25px;
  padding: 10px;
  background-color: transparent;
}
#greet {
    background-color: transparent;
}

#moodDropdown {
  text-decoration: none;
  margin: 5px;
  padding: 10px 16px;
  background-color: #104030;
  font-size: 14px;
  color: #ffffff;
  border-radius: 6px;
  border: 1px sold wheat;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

#moodDropdown:hover {
  background-color: #1e7055;
  transform: scale(1.05);
  box-shadow:0 5px 24px #c8c5be59;
}

#matchMood {
  margin: 5px;
  padding: 10px 16px;
  background-color: #104030;
  color: #ffffff;
  font-size: 15px;
  border-radius: 6px;
}
#matchMood:hover {
    background-color: #1e7055;
    box-shadow:0 5px 24px #c8c5be59;
}

.live-greeting {
  margin-top: 50px;
  font-size: 18px;
  background-color: transparent;
}

.live-greeting p {
    font-size: 16px;
    font-weight: bold;
}

#nameInput {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 40px;
    border: 1px solid pink;
    border-style: groove;
    border-radius: 10px;
    
}

#emojiBox {
  margin-top: 30px;
  width: 220px;
  height: 200px;
  margin: 30px auto;
  border: 2px solid #c8c5be;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: 0 4px 15px #0000004d;
  transition: all 0.4s ease;
  border-bottom: 1px solid #c8c5be;
    border-top: 1px solid #c8c5be;
    box-shadow:0 5px 24px #c8c5be59;

}

#emojiBox img {
  width: 100px;
  height: 100px;
  background-color: transparent;
  transition: transform 0.3s ease;
}

#matchMood {
    border-radius: 14px;
    background-color: #082319;
    border-bottom: 1px solid #c8c5be;
    border-top: 1px solid #c8c5be;
}

.box-text {
  color: #0e0a02;
  font-size: 14px;
  margin-top: 10px;
  background-color: transparent;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 30px;
  height: 30px;
  width: 200px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


footer {
  margin-top: 160px;
  padding: 20px 0;
  border-top: 1px solid #c8c5be;
  font-size: 0.9rem;
  box-shadow: 0 -3px 12px #c8c5be59;
}

